<!doctype html>
<html lang="ko" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="description">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>vue For</title>
    </head>
    <body>
        <div id="app" class="container">
            <h1>Todo List</h1>
            <ul class="list-group">
                <li v-for="(todo, num) in todos" class="list-group-item">
                    {{ num + 1 }} 번 {{ todo }}
                </li>
            </ul>

            <div>
                <h1>리스트 추가</h1>
                <input v-model="userInput" @keyup.enter="addTodoList"/>
                <button @click="addTodoList">추가하기</button>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">

        var data = {
            userInput : '',
            todos: [
                'ES6 공부하기',
                'Angular 공부하기',
                'Vue 공부하기',
                '맛있는것 먹기',
                '달달한것 먹기',
            ],
        };

        function addTodoList() {
            if(this.userInput === ''){
                return;
            }

            this.todos.push(this.userInput);
            this.userInput = '';
            return;
        };

        new Vue({
            el: '#app',
            data: data,
            methods : {
                addTodoList : addTodoList,
            }
        });

    </script>
</html>